<!DOCTYPE html>
<html>
  <head>
    <title>Housekeeping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'bills', bills_path %>
    <%= link_to 'users', users_path %>
    <%= link_to 'reports', reports_path %>
    
    <%= yield %>
  </body>
</html>
